<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <section class='container'>
            <div class='row'>
                <div class="col text-center">
                    <mat-form-field class="w-50">
                        <input matInput  placeholder="{{'placeholderUsuario' | translate}}"
                        formControlName="user" name="user" autocomplete='off' maxlength="20" [errorStateMatcher]="matcher"/>
                        <mat-error *ngIf="user.hasError('required')">
                            {{"usuarioRequerido" | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </section>

        <section class='container'>
            <div class='row'>
                <div class="col text-center">
                    <mat-form-field class="w-50">
                        <input matInput type="password"
                        placeholder="{{'placeholderClave' | translate}}" formControlName="password" name="password" [errorStateMatcher]="matcher"
                        autocomplete="off" maxlength="15" />
                        <mat-error *ngIf="password.hasError('required')">
                            {{"claveRequerida" | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </section>
    </mat-card-content>
    <mat-card-actions>
        <section class='container'>
            <div class='row'>
                <div class="col-md-12 text-center">
                    <button mat-raised-button type="submit">{{"ingresar" | translate}}</button>
                </div>
            </div>
        </section>
    </mat-card-actions>

    <section class='container'>
        <div class='row'>
            <div class="col-6" style="text-align:right; cursor: pointer">
                <a (click) = "goToChangePassword()" class="enlace"> {{"recuperarClave" | translate}} </a>
            </div>
            <div class="col-6" style="cursor: pointer">
                <a (click) = "goToRetrieveUser()" class="enlace"> {{"recuperarUsuario" | translate}} </a>
            </div>
            
        </div>
    </section>
    <section class='container'>
        <div class='row'>
            <div class="col-12 text-center ">
                <a (click) = "goToRegistration()" class="enlace" style="cursor: pointer"> {{"registrarUsuario" | translate}} </a>
            </div>
        </div>
    </section>

    </mat-card>

</form>
    
    
    
    
    