.row.table-head{color: #fff ; background: #7f8ce0; padding: 1rem; font-weight: 500; text-transform: uppercase;}

.row.striped{color: #000; padding: 1rem; background: #e1f0f1;}

.row.striped:nth-child(odd){
  background: #e1f0f1;;
}

.row.striped:focus,.row.striped:hover{
  background: #e1f0f1;;
}
@media (max-width: 767.98px) {row.table-head{display:none;} }